<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Automobili">Automobili</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/auto-da-riparare">Auto da riparare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/auto-con-opzioni">Auto con opzioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/ricerca-auto-usata">Ricerca auto usata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/registra-riparazione">Registra riparazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/immatricola-auto">Immatricola Auto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
